# 忽略 node_modules 目录
node_modules/

# 忽略构建输出目录
dist/

# 忽略 IDE 配置文件
.vscode/
.idea/

# 忽略 npm 调试日志
npm-debug.log*

# 忽略 macOS 系统文件
.DS_Store

# 忽略环境变量文件
.env
.env.local

# 忽略 TypeScript 编译缓存
.tsbuildinfo

# 忽略测试覆盖率目录
coverage/

# 忽略 npm 和 Yarn 的锁文件
package-lock.json
yarn.lock